div.highlight { background: #f8f8f8; }
div.highlight pre { padding: 0.5em !important; }
/*code { background: #f1f3f4; padding: 1px 4px; color: #37474f; }*/
h1, h2, h3, h4, h5, h6, legend {
    margin-top: 0;
    font-weight: 700;
    font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6, legend {
    font-family: "Source Sans Pro", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
}
p {
    line-height: 24px;
    margin: 0;
    font-size: 16px;
    margin-bottom: 24px;
}
code {
	white-space: nowrap;
	max-width: 100%;
	background: #fff;
	border: solid 1px #e1e4e5;
	font-size: 75%;
	padding: 0 5px;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
	color: #000;
	overflow-x: auto;
}
a {
    color: #F37504;
    text-decoration: none;
    cursor: pointer;
}
a code {
    color: #F37504;
}